# Python #
*.pyc
__pycache__/
venv/
.env

# VS Code #
.vscode/

# Logs #
*.log

# Node.js #
node_modules/

# Build/Static files #
dist/
build/
public/

# OS Files #
.DS_Store
Thumbs.db

# IDE-specific #
.idea/